body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.pink-button {
  background-color: pink;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.pink-button:hover {
  background-color: lightpink;
}

video {
  width: 100%;  /* Make the video take up the full width of the screen */
  height: auto; /* Maintain aspect ratio */
}
