body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.pink-button {
  background-color: pink;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.pink-button:hover {
  background-color: lightpink;
}

video {
    width: 100%; /* Make the video take the full width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the area without distortion */
}
